.arrowButton{
  display: flex; 
  position: fixed;
  bottom: 6vh;
  text-align: center;
  align-items: center;
  background-color: $white;
  color: $blue-40;
  width: 17vw;
  height: 9vh;
  font-size: 1.9vw;
  border-radius: $px-15;
  border: #6b726b solid 1px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: $bold;
  justify-content:space-between;


  &:hover {
    opacity: 0.85;
  }

  &:active {
    transform: scale(0.97);
    box-shadow: 0px $px-1 $px-2 $shadow-20;
    opacity: 0.9;
  }

  &.prev{
    left: -4vw;
    padding: 0px 40px 0px 100px;
  }

  &.next{
    right: -4vw;
    padding: 0px 100px 0px 40px;
    background-color: $blue-40;
    color: $white;
  }

  .arrowIcon{
    width: $px-11;
    height: $px-11;

    &.rightArrow {
        margin-right: $px-22;
    }
    &.leftArrow {
        margin-left: $px-5;
    }
}

}


