.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid #A5AAB4;
}

.label {
  font-size: 1.25rem;
  font-weight: bold;
  color: $gray-600;
}

.priceContainer {
  display: flex;
  align-items: baseline;
  gap: 8px;
  color: #37474f;
}

.currency {
  font-family: var(--font-rounded-m-plus-1c), "M PLUS Rounded 1c", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.price {
  font-family: var(--font-rounded-m-plus-1c), "M PLUS Rounded 1c", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}