.cashButton{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 30vw;
    height: 18vh;
    background-color: #F3F4F6;
    color: #5398E1;
    font-size: 4vw;
    font-weight: bold;
    border: none;
    border-radius: 25px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3vw; 
}

.cashIcon{
    width: 5vw;
    height: 10vh;
    margin-right: 15px;
}  

.syspayIcon{
    width: 5vw;
    height: 10vh;
    margin-right: 15px;

}

.arrow{
    width: 30px;
    height: 45px;
    margin-right: 3vw;
    transform: rotate(180deg);
}


.syspayButton{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 33vw;
    height: 18vh;
    background-color: #F3F4F6;
    color: #5398E1;
    font-size: 3.2vw;
    font-weight: bold;
    border: none;
    border-radius: 25px;
}