.blueButton {
  background-color: $blue-40;
  color: $white-100;
  font-size: 3.5vw;
  font-family: "Noto Sans JP", sans-serif;
  padding: $px-5 $px-25;
  border: none;
}

.whiteButton {
  background-color: $white-100;
  color: $blue-40;
  font-size: 3.5vw;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  padding: $px-5 $px-10;
  border: $blue-40 solid $px-1;
  border-radius: $px-max;
}

.rightArrowButton {
  position: fixed;
  bottom: $px-18;
  right: -$px-20;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 15vw;
  height: 9vh;
  background-color: $blue-40;
  color: $white-100;
  font-size: 1.9vw;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bolder;
  padding: $px-5 $px-23;
  border: $gray-70 solid 1px;
  border-radius: $px-17;
}
.rightArrow {
  width: $px-6;
  height: $px-11;
  margin-left: $px-10;
  transform: rotate(180deg);
  background-color: $gray-10;
  mask: url("/icons/Arrow.svg") no-repeat center;
}

.leftArrowButton {
  position: fixed;
  bottom: $px-18;
  left: -$px-20;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 15vw;
  height: 9vh;
  background-color: $white-100;
  color: $blue-40;
  font-size: 1.9vw;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bolder;
  padding: $px-5 $px-23;
  border: $gray-70 solid 1px;
  border-radius: $px-17;
}

.leftArrow {
  width: $px-6;
  height: $px-11;
  margin-right: $px-10;
}
