.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 3vw;
  color: $blue-40;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 10vh;
  margin-top: 15vh;
  font-weight: bold;
}
