.container {
  display: flex;
  flex-direction: column;
  gap: $px-2;
  width: 100%;

  .labelContainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: $px-2;

    .label {
      font-family: var(--font-rounded-m-plus-1c), "M PLUS Rounded 1c";
      font-size: $rem-10;
      font-weight: $bold;
      line-height: 1.2;
      color: $gray-100;
      margin: 0;
      white-space: nowrap;
    }

    .required {
      font-family: var(--font-rounded-m-plus-1c), "M PLUS Rounded 1c";
      font-size: $rem-10;
      font-weight: $bold;
      line-height: 1.2;
      color: $red-100;
      margin: 0;
      white-space: nowrap;
    }

    .errorMessage {
      font-family: var(--font-rounded-m-plus-1c), "M PLUS Rounded 1c";
      font-size: $rem-9;
      font-weight: $bold;
      line-height: 1.2;
      color: $red-100;
      margin: 0;
    }
  }

  &.disabled {
    .labelContainer {
      .label {
        color: $gray-40 !important;
      }
      .required {
        color: $gray-40 !important;
      }
    }
  }

  .inputWrapper {
    position: relative;
    width: $percent-10;
  }

  .rightIcon {
    position: absolute;
    right: $px-6;
    top: $percent-5;
    transform: translateY(-40%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray-40;
  }

  .input {
    width: 100%;
    padding: $px-6;
    font-size: $rem-9;
    font-weight: $medium;
    line-height: 1.4;
    color: $gray-100;
    background-color: $gray-5;
    border: none;
    border-radius: $px-6;
    outline: none;
    transition: all 0.2s ease;
    box-sizing: border-box;
    border: 2px solid $gray-5;
    caret-color: $blue-40;

    &::placeholder {
      color: $gray-40;
      font-weight: $medium;
    }

    &:focus {
      background-color: $white-100;
      border: 2px solid $blue-40;
    }

    &:disabled {
      background-color: $gray-5;
      color: $gray-10;
      cursor: not-allowed;

      &::placeholder {
        color: $gray-10;
      }
    }

    &.error {
      background-color: $red-10;
      border: 2px solid $red-100;

      &:focus {
        border-color: $red-100;
      }
    }

    &.radiusFull {
      border-radius: 9999px;
      height: $px-16;
      margin-top: $px-2;
      background-color: $gray-5;
      border: 2px solid $gray-10;
      padding-right: 40px;
    }
  }
}
