.cashButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  height: 18vh;
  background-color: $gray-5;
  color: $blue-40;
  font-size: 4vw;
  font-weight: bold;
  border: none;
  border-radius: $px-13;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3vw;
}

.cashIcon {
  width: 5vw;
  height: 10vh;
  margin-right: $px-8;
}

.syspayIcon {
  width: 5vw;
  height: 10vh;
  margin-right: $px-8;
}

.arrow {
  width: $px-15;
  height: $px-23;
  margin-right: 3vw;
  transform: rotate(180deg);
}

.syspayButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33vw;
  height: 18vh;
  background-color: $gray-5;
  color: $blue-40;
  font-size: 3.2vw;
  font-weight: bold;
  border: none;
  border-radius: $px-13;
}
