.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: $px-10 $px-24;
}

.title {
  font-size: $rem-25;
  font-weight: bold;
  color: $blue-40;
  margin-bottom: $px-24;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $px-12;
  width: 100%;
  max-width: $px-32 * 22;
  max-height: calc($px-32 * 4 * 4 + $px-12 * 3);
  overflow-y: auto;
	margin-left: $px-32 * 2.5;
}