.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: $px-32 * 2;
  gap: $px-32;
}

.title {
  font-size: 2.5vw;
  font-weight: bold;
  color: $blue-40;
  margin: 0;
}

.priceWrapper {
  width: 100%;
	justify-content: center;
	justify-items: center;
}

.buttonWrapper {
  position: fixed;
  bottom: $px-32;
  left: 50%;
  transform: translateX(-50%);
}