//
// Semantic Design Tokens
// このファイルは自動生成されたものです。
@use "./design-primitive" as *;

$background-base: $gray-5 !default;
$surface-base: $white-100 !default;
$text-primary: $gray-100 !default;
$text-secondary: $gray-70 !default;
$text-tirty: $gray-40 !default;
$text-disable: $gray-10 !default;
$text-brand: $blue-40 !default;
$text-error: $red-100 !default;
$border-border: $gray-10 !default;
$shadow-level1: $px-0 $px-2 $px-3 $px-0 $shadow-10 !default;
$shadow-level2: $px-0 $px-2 $px-4 $px-0 $shadow-20 !default;
$shadow-level3: $px-0 $px-2 $px-5 $px-0 $shadow-30 !default;
$shadow-level4: $px-0 $px-4 $px-8 $px-0 $shadow-40 !default;
$h1-medium: $medium $rem-24/$rem-20 $rounded-m-plus1c !default;
$h1-bold: $bold $rem-24/$rem-20 $rounded-m-plus1c-bold !default;
$h1-extrabold: $extra-bold $rem-24/$rem-20 $rounded-m-plus1c-bold !default;
$h1-black: $black $rem-24/$rem-20 $rounded-m-plus1c-bold !default;
$h2-medium: $medium $rem-20/$rem-16 $rounded-m-plus1c !default;
$h2-bold: $bold $rem-20/$rem-16 $rounded-m-plus1c-bold !default;
$h2-extrabold: $extra-bold $rem-20/$rem-16 $rounded-m-plus1c-bold !default;
$h2-black: $black $rem-20/$rem-16 $rounded-m-plus1c-bold !default;
$h3-medium: $medium $rem-16/$rem-14 $rounded-m-plus1c !default;
$h3-bold: $bold $rem-16/$rem-14 $rounded-m-plus1c-bold !default;
$h3-extrabold: $extra-bold $rem-16/$rem-14 $rounded-m-plus1c-bold !default;
$h3-black: $black $rem-16/$rem-14 $rounded-m-plus1c-bold !default;
$h4-medium: $medium $rem-14/$rem-12 $rounded-m-plus1c !default;
$h4-bold: $bold $rem-14/$rem-12 $rounded-m-plus1c-bold !default;
$h4-extrabold: $extra-bold $rem-14/$rem-12 $rounded-m-plus1c-bold !default;
$h4-black: $black $rem-14/$rem-12 $rounded-m-plus1c-bold !default;
$h5-medium: $medium $rem-12/$rem-10 $rounded-m-plus1c !default;
$h5-bold: $bold $rem-12/$rem-10 $rounded-m-plus1c-bold !default;
$h5-extrabold: $extra-bold $rem-12/$rem-10 $rounded-m-plus1c-bold !default;
$h5-black: $black $rem-12/$rem-10 $rounded-m-plus1c-bold !default;
$body-medium: $medium $rem-8/$rem-10 $m-plus1p !default;
$body-bold: $black $rem-8/$rem-10 $m-plus1p-bold !default;
$caption-medium: $medium $rem-6/$rem-8 $m-plus1p !default;
$caption-bold: $bold $rem-6/$rem-8 $m-plus1p-bold !default;
$caption-extrabold: $extra-bold $rem-6/$rem-8 $m-plus1p-bold !default;
$caption-black: $black $rem-6/$rem-8 $m-plus1p-bold !default;
$small-medium: $medium $rem-4/$rem-6 $m-plus1p !default;
$small-bold: $bold $rem-4/$rem-6 $m-plus1p-bold !default;
$small-extrabold: $extra-bold $rem-4/$rem-6 $m-plus1p-bold !default;
$small-black: $black $rem-4/$rem-6 $m-plus1p-bold !default;
$tiny-medium: $medium $rem-2/$rem-4 $m-plus1p !default;
$tiny-bold: $bold $rem-2/$rem-4 $m-plus1p-bold !default;
$tiny-extrabold: $extra-bold $rem-2/$rem-4 $m-plus1p-bold !default;
$tiny-black: $black $rem-2/$rem-4 $m-plus1p-bold !default;
$radius-full: $px-max !default;
$radius-xl: $px-16 !default;
$radius-lg: $px-12 !default;
$radius-md: $px-8 !default;
$radius-sm: $px-6 !default;
$radius-xs: $px-3 !default;
$border-divider: $border-border !default;
